; saved on 2022-05-23 10:08:59
{:content [{:out "",
            :id :2c0da267-0743-41ba-9c47-7326c49916d8,
            :code "(ns demo.notebook.highlightjs)",
            :ns "demo.notebook.highlightjs",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :7e4621cf-e1a0-49fa-8936-b6dbf7dca493,
            :code "^:R\n[:div.bg-blue-500 ; test how background is on different color\n [:p \"this snippet demonstrates to use highlight.js\"]\n ['ui.highlightjs/highlightjs \"(+ 8 8)\\n(def add [a b] \\n   (+ a b))\\n(add)\"]\n [:p \"live goes on!\"]]",
            :ns "demo.notebook.highlightjs",
            :hiccup ^{:R true}
                    [:div.bg-blue-500
                     [:p
                      "this snippet demonstrates to use highlight.js"]
                     [ui.highlightjs/highlightjs
                      "(+ 8 8)\n(def add [a b] \n   (+ a b))\n(add)"]
                     [:p "live goes on!"]]}],
 :meta {:id :900bc256-8e5c-454b-9408-2528f0fd8865,
        :eval-time "2022-05-23 10:08:59",
        :ns "demo.notebook.highlightjs",
        :java "17.0.1",
        :clojure "1.10.3"}}
