; saved on 2022-06-01 01:29:12
{:content [{:out "",
            :id :8c24f5f9-8dc9-4a15-936a-17fa3b520b22,
            :code "(ns demo.notebook.highlightjs)",
            :ns "demo.notebook.highlightjs",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :e57f8609-5b65-4a56-ae2f-37a91f972f28,
            :code "^:R\n[:div.bg-blue-500 ; test how background is on different color\n [:p \"this snippet demonstrates to use highlight.js\"]\n ['ui.highlightjs/highlightjs \"(+ 8 8)\\n(def add [a b] \\n   (+ a b))\\n(add)\"]\n [:p \"live goes on!\"]]",
            :ns "demo.notebook.highlightjs",
            :hiccup ^{:R true}
                    [:div.bg-blue-500
                     [:p
                      "this snippet demonstrates to use highlight.js"]
                     [ui.highlightjs/highlightjs
                      "(+ 8 8)\n(def add [a b] \n   (+ a b))\n(add)"]
                     [:p "live goes on!"]]}],
 :meta {:id :93199aab-ad76-4e7f-87cf-4085fd3879f4,
        :eval-time "2022-06-01 01:29:12",
        :ns "demo.notebook.highlightjs",
        :java "17.0.3",
        :clojure "1.10.3"}}
