; saved on 2022-06-01 01:29:10
{:content [{:out "",
            :id :21fc8f92-14be-46ed-8c0b-9887f99cade3,
            :code "(ns notebook.fibonacci)",
            :ns "notebook.fibonacci",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :8d4c5233-1d36-48f3-9ccd-71cfd2a656c6,
            :code "; infinite seq\n\n(def fib-seq-seq\n  ((fn fib [a b]\n     (lazy-seq (cons a (fib b (+ a b)))))\n   0 1))",
            :ns "notebook.fibonacci",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'notebook.fibonacci/fib-seq-seq"]}
           {:out "",
            :id :f403dd3a-1740-434f-a47d-57aab6206849,
            :code "(take 20 fib-seq-seq)",
            :ns "notebook.fibonacci",
            :hiccup [:span
                     {:class "clj-lazy-seq"}
                     [:span.font-bold.teal-700.mr-1 "("]
                     [:span.items
                      [:span {:style {:color "blue"}} "0"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "1"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "1"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "2"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "3"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "5"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "8"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "13"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "21"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "34"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "55"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "89"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "144"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "233"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "377"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "610"]
                      [:span " "]
                      [:span {:style {:color "blue"}} "987"]
                      [:span " "]
                      [:span
                       {:style {:color "blue"}}
                       "1597"]
                      [:span " "]
                      [:span
                       {:style {:color "blue"}}
                       "2584"]
                      [:span " "]
                      [:span
                       {:style {:color "blue"}}
                       "4181"]]
                     [:span.font-bold.teal-700.ml-1 ")"]]}],
 :meta {:id :2ef98c33-4f9f-42cf-a1c4-0c3b6870bb15,
        :eval-time "2022-06-01 01:29:10",
        :ns "notebook.fibonacci",
        :java "17.0.3",
        :clojure "1.10.3"}}
