{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.clojure/clojure    {:mvn/version "1.10.3"}}

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "antq.core"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main" "fix" "--indents" "cljfmt.edn"]}
   
  ;; goldly
  
  :nbeval {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.467"}}
           :exec-fn reval.task/nbeval
           :exec-args {:config "goldly-demo.edn"}}

  :goldly {:extra-deps {org.pinkgorilla/goldly {:mvn/version "0.4.467"}}
           :exec-fn goldly.app/goldly-server-run!
          :exec-args {:profile "jetty"
                      :config "goldly-demo.edn"}}
  

  :goldly-docs {:extra-deps {org.pinkgorilla/goldly-docs {:mvn/version "0.4.467"}}
           :exec-fn goldly.app/goldly-server-run!
           :exec-args {:profile "jetty"
                       :config "goldly-demo.edn"}}



;           
  }}
