{:static-main-path "/demo-goldly"
 
 :goldly {:autoload-clj-ns [goldly.devtools
                            fortune-cookie
                            time]
          :autoload-cljs-dir ["goldly/lib"
                              "goldly/devtools"
                              "lib"
                              "page"]
          :watch-cljs-dir ["src/lib"
                           "src/page"]
          :routes {:app {; user
                         "" :user/main
                         "fortune" :user/fortune
                         "time" :user/time
                         "bmi" :user/bmi
                         "bmiserver" :user/bmi-server
                         "iss" :user/iss
                         "vega" :user/vega
                         "aggrid" :user/aggrid
                        ; devtools
                         "devtools/viewer" :viewer
                         "devtools/scratchpad" :scratchpad
                         "devtools/theme" :theme
                         "devtools/environment" :environment
                         "devtools/pages" :pages
                         "devtools/help" :devtools
                         "goldly/reload" :goldly/reload-cljs}
                   :api {"rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         }}}

 :reval {:rdocument  {:storage-root "docs/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:my-notebooks [:clj "notebook/"]
                       :demo [:clj "demo/notebook/"]}}}