; saved on 2021-11-28 20:10:19
{:content [{:out "",
            :code "(ns demo.notebook.vegalite-point)",
            :id :6faf51b6-353b-44c9-9015-c2bac129e909,
            :ns "demo.notebook.vegalite-point",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :code "^:fh\n[:p/vegalite\n {:spec {:data {:values [{:x 3 :y 4}\n                         {:x 7 :y 1}\n                         {:x 5 :y 7}\n                         {:x 2 :y 6}]}\n         :mark :point\n         :encoding {:x {:field :x :type :quantitative}\n                    :y {:field :y :type :quantitative}}}}]",
            :id :c570c7da-2f55-4e1b-b364-c5341859363a,
            :ns "demo.notebook.vegalite-point",
            :hiccup ^{:fh true}
                    [:p/vegalite
                     {:spec {:data {:values [{:x 3, :y 4}
                                             {:x 7, :y 1}
                                             {:x 5, :y 7}
                                             {:x 2, :y 6}]},
                             :mark :point,
                             :encoding {:x {:field :x,
                                            :type :quantitative},
                                        :y {:field :y,
                                            :type :quantitative}}}}]}],
 :meta {:id :63020c0e-e446-414a-b5b6-c05dfefcba95,
        :eval-time "2021-11-28 20:10:19",
        :ns "demo.notebook.vegalite-point",
        :java "16.0.1",
        :clojure "1.10.3"}}
