; saved on 2021-11-28 16:15:59
{:content [{:out "",
            :code "(ns demo.notebook.vegalite-point)",
            :id :cd76e103-5677-4612-83a8-9352120d933a,
            :ns "demo.notebook.vegalite-point",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :code "^:fh\n[:p/vegalite\n {:spec {:data {:values [{:x 3 :y 4}\n                         {:x 7 :y 1}\n                         {:x 5 :y 7}\n                         {:x 2 :y 6}]}\n         :mark :point\n         :encoding {:x {:field :x :type :quantitative}\n                    :y {:field :y :type :quantitative}}}}]",
            :id :967283d9-6e8c-4d30-a91f-9b844ffdb34d,
            :ns "demo.notebook.vegalite-point",
            :hiccup ^{:fh true}
                    [:p/vegalite
                     {:spec {:data {:values [{:x 3, :y 4}
                                             {:x 7, :y 1}
                                             {:x 5, :y 7}
                                             {:x 2, :y 6}]},
                             :mark :point,
                             :encoding {:x {:field :x,
                                            :type :quantitative},
                                        :y {:field :y,
                                            :type :quantitative}}}}]}],
 :meta {:id :3470b238-f3d4-4333-a4c5-9713e01e8814,
        :eval-time "2021-11-28 16:15:59",
        :ns "demo.notebook.vegalite-point",
        :java "16.0.1",
        :clojure "1.10.3"}}
