; saved on 2022-06-01 01:29:12
{:content [{:out "",
            :id :1116747f-c9ee-45bb-969b-2d1cc9efb6e3,
            :code "(ns demo.notebook.vegalite-bar)",
            :ns "demo.notebook.vegalite-bar",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :e1c2cf19-60b0-4783-9baf-a767572ce566,
            :code "(def data\n  {:table [{:a \"A\" :b 28} {:a \"B\" :b 55} {:a \"C\" :b 43} {:a \"D\" :b 91}\n           {:a \"E\" :b 81} {:a \"F\" :b 53} {:a \"G\" :b 19} {:a \"H\" :b 87}\n           {:a \"I\" :b 52} {:a \"J\" :b 127}]})",
            :ns "demo.notebook.vegalite-bar",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.vegalite-bar/data"]}
           {:out "",
            :id :414a1d59-5d14-48f0-805f-f5752e6881cc,
            :code "(def bar\n  {;:$schema \"https://vega.github.io/schema/vega-lite/v4.json\"\n   :description \"A simple bar chart with embedded data.\"\n   :mark {:type \"bar\"\n          ;:tooltip true\n          :tooltip {:content \"data\"}}\n   :encoding {:x {:field \"a\" :type \"ordinal\"}\n              :y {:field \"b\" :type \"quantitative\"}}\n   :data {:name \"table\"}})",
            :ns "demo.notebook.vegalite-bar",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.vegalite-bar/bar"]}
           {:out "",
            :id :fa23b046-7e57-442a-af92-0405751d9182,
            :code "^:R\n['ui.vega/vegalite {:spec bar :data data}]",
            :ns "demo.notebook.vegalite-bar",
            :hiccup ^{:R true}
                    [ui.vega/vegalite
                     {:spec {:description "A simple bar chart with embedded data.",
                             :mark {:type "bar",
                                    :tooltip {:content "data"}},
                             :encoding {:x {:field "a",
                                            :type "ordinal"},
                                        :y {:field "b",
                                            :type "quantitative"}},
                             :data {:name "table"}},
                      :data {:table [{:a "A", :b 28}
                                     {:a "B", :b 55}
                                     {:a "C", :b 43}
                                     {:a "D", :b 91}
                                     {:a "E", :b 81}
                                     {:a "F", :b 53}
                                     {:a "G", :b 19}
                                     {:a "H", :b 87}
                                     {:a "I", :b 52}
                                     {:a "J", :b 127}]}}]}],
 :meta {:id :94204494-a704-476c-a60f-f5436ec9d5b0,
        :eval-time "2022-06-01 01:29:12",
        :ns "demo.notebook.vegalite-bar",
        :java "17.0.3",
        :clojure "1.10.3"}}
