; saved on 2022-06-03 11:00:29
{:content [{:out "",
            :id :7361bf1b-7b65-4b01-a390-ecb3648ddd4e,
            :code "(ns demo.notebook.goldly-videos)",
            :ns "demo.notebook.goldly-videos",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :b697b00d-7f4c-4beb-9972-8ebe76981d06,
            :code "(defn youtube [id]\n  ['ui.video/video {:box :lg\n                    :controls true\n                    :url (format \"https://www.youtube.com/watch?v=%s\" id)}])",
            :ns "demo.notebook.goldly-videos",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.goldly-videos/youtube"]}
           {:out "",
            :id :8286d914-4fb8-4660-8b9c-774ca5c4d0e8,
            :code "(defn show-video [[name id]]\n  [:div\n   [:h1.text-xl.text-blue-900 name]\n   (youtube id)])",
            :ns "demo.notebook.goldly-videos",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.goldly-videos/show-video"]}
           {:out "",
            :id :b6d27c1e-4230-4e9e-9c9f-b365e88d8625,
            :code "(defn video-list [name list]\n  ^:R\n  [:div\n   [:h1.text-3xl.text-blue-900 name]\n   (into [:div]\n         (map show-video list))])",
            :ns "demo.notebook.goldly-videos",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.goldly-videos/video-list"]}
           {:out "",
            :id :b6c655fe-1cdf-4cfd-9c60-f8104ad434e7,
            :code "(def videos\n  {:sniffer-repl \"HxejHqw4jfI\"\n   :notebook \"8TwXaVTZ1G8\"\n   :clojisr \"BbjYkDmp3fg\"})",
            :ns "demo.notebook.goldly-videos",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.goldly-videos/videos"]}
           {:out "",
            :id :43dbe005-7dc9-44ee-98e8-d426bc68df10,
            :code "^:R\n[:div.bg-blue-500 ; test how background is on different color\n [:h1 \"How to use goldly\"]\n (video-list \"unsorted videos\" videos)]",
            :ns "demo.notebook.goldly-videos",
            :hiccup ^{:R true}
                    [:div.bg-blue-500
                     [:h1 "How to use goldly"]
^{:R true}
[:div
 [:h1.text-3xl.text-blue-900 "unsorted videos"]
 [:div
  [:div
   [:h1.text-xl.text-blue-900 :sniffer-repl]
   [ui.video/video
    {:box :lg,
     :controls true,
     :url "https://www.youtube.com/watch?v=HxejHqw4jfI"}]]
  [:div
   [:h1.text-xl.text-blue-900 :notebook]
   [ui.video/video
    {:box :lg,
     :controls true,
     :url "https://www.youtube.com/watch?v=8TwXaVTZ1G8"}]]
  [:div
   [:h1.text-xl.text-blue-900 :clojisr]
   [ui.video/video
    {:box :lg,
     :controls true,
     :url "https://www.youtube.com/watch?v=BbjYkDmp3fg"}]]]]]}],
 :meta {:id :0a29f6ef-02bf-4222-904f-0b1d53d04923,
        :eval-time "2022-06-03 11:00:29",
        :ns "demo.notebook.goldly-videos",
        :java "17.0.3",
        :clojure "1.10.3"}}
