; saved on 2022-06-03 11:01:12
{:content [{:out "",
            :id :5fb1f014-73d3-4dae-9f9a-c8ba70257352,
            :code "(ns demo.notebook.highcharts)",
            :ns "demo.notebook.highcharts",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :e78c81f7-7e6d-4e46-bb2a-901c88f0fed8,
            :code "; this is our helper function to assemble a highchart object. it contains\n\n; default values that we will use for multiple charts\n\n(defn make-chart-config [data]\n  {:chart {:type \"line\"\n           :animation false}\n   :title {:text (:title data)}\n   :subtitle {:text (:subtitle data)}\n   :yAxis {:min 0\n           :title {:text \"\"\n                   :align \"high\"}}\n               ;:labels {:overflow \"justify\"}\n\n   :xAxis {:categories (:labels data)}\n   :tooltip {:valueSuffix \" %\"}\n   :plotOptions {:series\n                 {:animation 0\n                  :label\n                  {;:pointStart 2010\n                   :connectorAllowed false}}}\n   :legend {;:x -40\n            ;:y 100\n            ;:floating true\n            ;:borderWidth 1\n            ;:shadow true\n            :layout \"vertical\"\n            :align \"right\"\n            :verticalAlign \"top\"}\n   :credits {:enabled false}\n   :series (:series data)})",
            :ns "demo.notebook.highcharts",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.highcharts/make-chart-config"]}
           {:out "",
            :id :abbad2a0-bc86-460e-a1e1-81f6ddff4abd,
            :code "(def highchart-spec\n  (make-chart-config\n   {:title \"Economic Activity\"\n    :subtitle \"made with Love\"\n    :labels [\"Jan\" \"Feb\" \"Mar\" \"Apr\" \"May\" \"Jun\" \"Jul\" \"Aug\"]\n    :series\n    [{:name \"Installation\" :data [439 523 577 698 931 1131 1333 1175]}\n     {:name \"Manufacturing\" :data [249 244 292 291 390 302 381 404]}\n     {:name \"Sales & Distribution\" :data [117 172 165 191 285 247 321 393]}]}))",
            :ns "demo.notebook.highcharts",
            :hiccup [:span
                     {:style {:color "deeppink"}}
                     "#'demo.notebook.highcharts/highchart-spec"]}
           {:out "",
            :id :3cdf69b7-8607-4453-a24d-9776cb6d21b4,
            :code "^:R\n['ui.highcharts/highchart {:data highchart-spec}]",
            :ns "demo.notebook.highcharts",
            :hiccup ^{:R true}
                    [ui.highcharts/highchart
                     {:data {:series [{:name "Installation",
                                       :data [439
                                              523
                                              577
                                              698
                                              931
                                              1131
                                              1333
                                              1175]}
                                      {:name "Manufacturing",
                                       :data [249
                                              244
                                              292
                                              291
                                              390
                                              302
                                              381
                                              404]}
                                      {:name "Sales & Distribution",
                                       :data [117
                                              172
                                              165
                                              191
                                              285
                                              247
                                              321
                                              393]}],
                             :legend {:layout "vertical",
                                      :align "right",
                                      :verticalAlign "top"},
                             :plotOptions {:series {:animation 0,
                                                    :label {:connectorAllowed false}}},
                             :title {:text "Economic Activity"},
                             :chart {:type "line",
                                     :animation false},
                             :yAxis {:min 0,
                                     :title {:text "",
                                             :align "high"}},
                             :credits {:enabled false},
                             :subtitle {:text "made with Love"},
                             :xAxis {:categories ["Jan"
                                                  "Feb"
                                                  "Mar"
                                                  "Apr"
                                                  "May"
                                                  "Jun"
                                                  "Jul"
                                                  "Aug"]},
                             :tooltip {:valueSuffix " %"}}}]}],
 :meta {:id :b0b1e750-4b31-45a6-bf7a-b3594ed61b01,
        :eval-time "2022-06-03 11:01:12",
        :ns "demo.notebook.highcharts",
        :java "17.0.3",
        :clojure "1.10.3"}}
