{:ns-clj [fortune-cookie
          time]

 :goldly {:autoload-cljs-dir ["lib"
                              "page"]
          :watch-cljs-dir ["src/lib"
                           "src/page"]
          :routes {:app {; user
                         "" :user/main
                         "fortune" :user/fortune
                         "time" :user/time
                         "bmi" :user/bmi
                         "bmiserver" :user/bmi-server
                         "iss" :user/iss
                         "vega" :user/vega
                         "aggrid" :user/aggrid}
                   :api {"rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file ; http://localhost:8000/api/viewer/file/demo.playground.cljplot/vega-spec.edn
                         }}}

 :reval {:rdocument  {:storage-root "docs/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:my-notebooks [:clj "notebook/"]
                       :demo [:clj "demo/notebook/"]}}}