{:ns-clj [time]

 :goldly {:watch-cljs-dir ["src/lib"
                           "src/page"]
          :routes {:app {"" page.main/main-page-wrapped} 
                   :api {}}}
 

 :reval {:rdocument  {:storage-root "docs/rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:my-notebooks [:clj "notebook/"]
                       :demo [:clj "demo/notebook/"]}}}