{:webly {:title "Goldly Server"
         :lein-cljs-profile "" ; +demo"
         :ns-cljs-app [goldly-server.app-bundled]
         :bundle-entry  "goldly_server.app_bundled.start ();"
         :start-user-app [:goldly-server-bundled/init]
         :user-routes-app "goldly-server.routes/routes-app"
         :user-routes-api "goldly-server.routes/routes-api"}

 :goldly {:systems-ns [systems.click-counter
                       systems.greeter
                       systems.greeter-details
                       systems.fortune
                       systems.time
                       systems.error
                       systems.bundled.vega-charts
                       systems.bundled.vega-plot
                       systems.bundled.holiday-destinations
                       systems.bundled.controls
                       ]
          }}