; saved on 2022-06-01 01:29:12
{:content [{:out "",
            :id :b88f8a0b-fc34-4afb-8e0c-2b787e38ec22,
            :code "(ns demo.notebook.leaflet-simple)",
            :ns "demo.notebook.leaflet-simple",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :0487977e-826d-481e-9412-1df4c62b3773,
            :code "^:R\n['ui.leaflet/leaflet\n {:box :md\n  :center [51.505, -0.09]\n  :features [{:type :rectangle :bounds [[51.49, -0.08]\n                                        [51.5, -0.06]]}]}]",
            :ns "demo.notebook.leaflet-simple",
            :hiccup ^{:R true}
                    [ui.leaflet/leaflet
                     {:box :md,
                      :center [51.505 -0.09],
                      :features [{:type :rectangle,
                                  :bounds [[51.49 -0.08]
                                           [51.5 -0.06]]}]}]}],
 :meta {:id :2b7006bf-9e54-432f-b089-753f23d517b3,
        :eval-time "2022-06-01 01:29:12",
        :ns "demo.notebook.leaflet-simple",
        :java "17.0.3",
        :clojure "1.10.3"}}
