
/* Binary clock */

.clock-main {
    background: #333;
    color: #cdcdcd;
    padding-top: 55px;
    padding-left: 20px;
    float: left;
    font-size: 28px;
    line-height: 34px;
    width: 620px;
    cursor: pointer;
}
.clock-main.wide {
    width: 790px;
}
.clock-cell {
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 0 20px 20px 0;
}
.clock-cell.dark {
    background-color: #454545;
}
.clock-cell.light {
    background-color: #eee;
}
.clock-col {
    margin: 0;
    float: left;
}
.clock-legend > .clock-cell {
    margin-top: 10px;
}
.clock-pair {
    margin: 0;
    float: left;
}
.clock-pair:not(:last-child) {
    margin-right: 20px;
    /* border-right: 1px solid #454545; */
}