; saved on 2022-05-23 06:04:45
{:content [{:out "",
            :id :5df2461f-ebf0-481f-bf65-f5a56d0fcd77,
            :code "(ns demo.notebook.cytoscape-fruit)",
            :ns "demo.notebook.cytoscape-fruit",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}],
 :meta {:id :6c144bd4-b27b-4293-9d54-0e98d22a2b6c,
        :eval-time "2022-05-23 06:04:45",
        :ns "demo.notebook.cytoscape-fruit",
        :java "17.0.1",
        :clojure "1.10.3"}}
