; saved on 2021-11-28 20:10:19
{:content [{:out "",
            :code "(ns demo.notebook.vegalite-arrow)",
            :id :48e05d0b-7fab-41ce-b4ba-3877776a38ae,
            :ns "demo.notebook.vegalite-arrow",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :code "^:fh\n[:p/vegalite\n {:width 800\n  :height 600\n  :spec {:data {:url \"/r/data/chicago-crimes-2018.arrow\"\n                ;:url \"https://raw.githubusercontent.com/RandomFractals/ChicagoCrimes/master/data/2018/chicago-crimes-2018.arrow\"\n                :format {:type \"arrow\"}}\n         :mark \"bar\"\n         :encoding {:y {:field \"PrimaryType\"\n                        :type \"ordinal\"\n                        :sort {:encoding \"x\"}\n                        :axis {:title \"Crime Type\"}}\n                    :x {:aggregate \"count\"\n                        :field \"*\"\n                        :type \"quantitative\"\n                        :axis {:title \"# of Records\"}}}}}]",
            :id :b1a5f147-3f1a-43eb-89e7-740e3be3d96b,
            :ns "demo.notebook.vegalite-arrow",
            :hiccup ^{:fh true}
                    [:p/vegalite
                     {:width 800,
                      :height 600,
                      :spec {:data {:url "/r/data/chicago-crimes-2018.arrow",
                                    :format {:type "arrow"}},
                             :mark "bar",
                             :encoding {:y {:field "PrimaryType",
                                            :type "ordinal",
                                            :sort {:encoding "x"},
                                            :axis {:title "Crime Type"}},
                                        :x {:aggregate "count",
                                            :field "*",
                                            :type "quantitative",
                                            :axis {:title "# of Records"}}}}}]}],
 :meta {:id :14b92dc1-983f-4e0a-be37-039b4e2a82e6,
        :eval-time "2021-11-28 20:10:19",
        :ns "demo.notebook.vegalite-arrow",
        :java "16.0.1",
        :clojure "1.10.3"}}
