; saved on 2022-06-01 01:29:12
{:content [{:out "",
            :id :78e5a9fa-db4a-420b-98d9-25b44217f16e,
            :code "(ns demo.notebook.vegalite-zoom)",
            :ns "demo.notebook.vegalite-zoom",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :id :c0491d80-9c80-4b02-98e6-93ba031c8ecd,
            :code "^:R\n['ui.vega/vegalite\n {:spec {:data {:url \"/r/data/sp500.csv\"}\n         :vconcat\n         [{;:width 480\n           :mark \"area\"\n           :encoding {:x {:field \"date\"\n                          :type \"temporal\"\n                          :scale {:domain {:selection \"brush\"}}\n                          :axis {:title \"\"}}\n                      :y {:field \"price\", :type \"quantitative\"}}}\n          {;:width 480\n           :height 60\n           :mark \"area\"\n           :selection\n           {:brush {:type \"interval\", :encodings [\"x\"]}}\n           :encoding {:x {:field \"date\", :type \"temporal\"}\n                      :y\n                      {:field \"price\"\n                       :type \"quantitative\"\n                       :axis {:tickCount 3, :grid false}}}}]}}]",
            :ns "demo.notebook.vegalite-zoom",
            :hiccup ^{:R true}
                    [ui.vega/vegalite
                     {:spec {:data {:url "/r/data/sp500.csv"},
                             :vconcat [{:mark "area",
                                        :encoding {:x {:field "date",
                                                       :type "temporal",
                                                       :scale {:domain {:selection "brush"}},
                                                       :axis {:title ""}},
                                                   :y {:field "price",
                                                       :type "quantitative"}}}
                                       {:height 60,
                                        :mark "area",
                                        :selection {:brush {:type "interval",
                                                            :encodings ["x"]}},
                                        :encoding {:x {:field "date",
                                                       :type "temporal"},
                                                   :y {:field "price",
                                                       :type "quantitative",
                                                       :axis {:tickCount 3,
                                                              :grid false}}}}]}}]}],
 :meta {:id :5cf230bb-efe4-4425-b8f0-eac6605be4b1,
        :eval-time "2022-06-01 01:29:12",
        :ns "demo.notebook.vegalite-zoom",
        :java "17.0.3",
        :clojure "1.10.3"}}
