; saved on 2021-11-28 20:10:17
{:content [{:out "",
            :code "(ns notebook.hello)",
            :id :d83aa61c-03e7-452f-8f64-f249ddcf0500,
            :ns "notebook.hello",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "hello from clojure\n",
            :code "(println \"hello from clojure\")",
            :id :85a11870-de50-47ff-b789-17a470c1f724,
            :ns "notebook.hello",
            :hiccup [:div.p-2.clj-nil [:p "nil"]]}
           {:out "",
            :code "(+ 7 7)",
            :id :c79f224f-dbc8-4192-86d8-878f71b379ce,
            :ns "notebook.hello",
            :hiccup [:span {:style {:color "blue"}} "14"]}],
 :meta {:id :2e1f48b9-8a20-4ac6-9199-aedc988a83d5,
        :eval-time "2021-11-28 20:10:17",
        :ns "notebook.hello",
        :java "16.0.1",
        :clojure "1.10.3"}}
